body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* margin-left: 5%;
  margin-right: 5%; */
  background-color: rgb(247, 255, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: rgb(214, 229, 241);
  border-bottom: solid;
  
  /* border-bottom: solid; */
  
}

img{
  padding: 2px;
  /* width: 2%;
  height: auto; */
}

.daily-images{
  width: 5%;
  height: auto;
}

.single-movie-image{
  width: 20%;
  height: auto;
}

.movie-trailer{
  /* border: dotted; */
  width: 840px;
  height: 471px;
}

.main {
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  /* border: solid; */
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 150px;
}

.left-main{
  display: flex;
  flex-direction:row;
  align-content: flex-start;
  text-align: left;
  padding: 20px;
  height: 10%;
  background-color: rgb(214, 229, 241);
  border-top: solid;
  border-bottom: solid;
  
}

.right-main{
  display: flex;
  /* flex-direction:column; */
  justify-content: flex-start;
  align-content: flex-start;
  /* width: 75%; */
  /* border: solid; */
  padding: 20px;
  background-color: rgb(247, 255, 255);
  text-align: left;
}

.trending{
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  
}

.daily-lists{
  display: flex;
  flex-wrap: wrap;
  
}

.search{
  /* margin-right: 50px; */
  /* border: solid; */
  text-align: left;
  font-size: 12px;
  width: 20%;
  
}
.search_options{
  /* background-color: rgb(198, 250, 253); */
  border-left:solid;
  
  padding-left: 10px;
}

.movie_single{
  padding-right: 5%;
  /* border: solid; */
}

.movie-title{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
}

.movie-media{
  display: flex;
  justify-content:flex-start;
  align-items:center;
  
}

.movie-info{
  text-align: left;
}

.movie-info-copy{
  font-size: 1.5em;
  margin-right: 10px;
}

/* .hover-text:hover {
  background-color: blue;
} */



.logo{
  display: flex;
  justify-content: flex-start;
  width: 20%;
  height: auto;
}

@media only screen and (max-width: 1500px) {
  /* body {
    background-color: rgb(223, 130, 37);
  } */

  .daily-images{
    width: 7%;
    height: auto;
  }

  .single-movie-image{
    width: 30%;
    height: auto;
  }

  .movie-trailer{
    /* border: dotted; */
    width: 560px;
    height: 314px;
  }
}


@media only screen and (max-width: 1100px) {
  body {
    /* background-color: rgb(99, 223, 37); */
  }

  header{
    display: flex;
    flex-direction:column;
    background-color: rgb(214, 229, 241);
    border-bottom: solid;
    padding-bottom: 10px;
  }

  .main{
    padding-top: 50%;
  }

  .right-main{
    /* border: dotted; */
    display: flex;
    flex-direction:column;
  }

  .search{
    padding-bottom: 50px;
  }

  .logo{
    width: 50%;
    height: auto;
  }

  .daily-images{
    width: 12%;
    height: auto;
  }

  .movie-trailer{
    /* border: dotted; */
    width: 383px;
    height: 215px;
  }

  .search{
    width: 100%;
  }
  
}

@media only screen and (max-width: 800px) {
  .movie-media{
    display: flex;
    flex-direction: column-reverse;
    justify-content:flex-start;
    align-items:center;
  }

  .daily-images{
    width: 15%;
    height: auto;
  }

  .single-movie-image{
    width: 75%;
    height: auto;
  }

  .movie-info-copy{
    font-size: 1.5em;
    margin-right: 10px;
}

  
}